# Node / Vue
node_modules/
dist/
*.local
.env
.env.*
!.env.example

# Logs
logs/
*.log
npm-debug.log*

# Editor
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln.docstates

# OS
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store

# C# / .NET
bin/
obj/
*.user
*.userosscache
*.sln.docstates
*.userprefs
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
[Bb]in/
[Oo]bj/
*.dll
*.exe
*.pdb
*.cache
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

# NuGet
*.nupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.snupkg

# Visual Studio
.vs/
*.csproj.user
launchSettings.json

# Rider
*.sln.iml

# database
TCTM/**/tctm.db
TCTM/**/tctm.db-shm
TCTM/**/tctm.db-wal
*.db
*.db-shm
*.db-wal
/TCTM/TCTM.Server/Properties/PublishProfiles
